* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.navbar {
    background-color: #242222;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
}
.navbar .logo {
    font-size: 30px;
    font-weight: bold;
}
h1 {
    color: #ffffff;
}
span {
    color: #ffff00;
    display: block;
    font-size: 10px;
}
.navbar > ul {
    display: flex;
    gap: 24px;    
}
.navbar > ul > li > a {
    font-size: 14px;
    font-weight: medium;
    color: #7070ef;
}
.navbar > ul > li > a:hover {
    color: #ffffff;
}
.navbar > ul > li > a:active {
    color: #ffff00;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.header-text-title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
p {
    font-size: 16px;
    padding-top: 3px;
    color: #7070ef;
}
.gallery { 
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    margin-top: -28px;
}
.gallery > .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    padding: 24px;
}
.gallery > .gallery-grid > img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 8px;
}
.gallery > .gallery-grid > img:hover {
    opacity: 80%;
    cursor: pointer;
}

.contact-form {
    background-image: url(./assets/bg-form.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    width: 100%;
}
.contact-form-title {
    color: #5900ff;
    font-size: 30px;
    font-weight: medium;
    text-align: center;
}
.contact-form-paragraph {
    font-size: 16px;
    font-weight: medium;
    padding-top: 6px;
    color: #000000;
    width: 45%;
    text-align: center;
}
.contact-form-grid {
    display: grid;
    grid-template-columns: repeat(1fr, 2fr);
    grid-gap: 6px;
    padding: 20px;
    width: 25%;
}
.contact-form-grid-item > input  {
    width: 100%;
    text-align: start;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 12px;
    font-weight: medium;
    color: black
}
.contact-form-grid-item > textarea {
    width: 100%;
    text-align: start;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 12px;
    font-weight: medium;
    color: black
}
.contact-form-grid-item > button {
    width: 50%;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 12px;
    font-weight: medium;
    color: black;
    background-color: #7070ef;
}
.contact-form-grid-item > button:hover {
    background-color: #ffff00;
    cursor: pointer;
}
.contact-form-grid-item > button:active {
    background-color: #ffffff;
    color: #000000;
}

::-webkit-input-placeholder {
    color: #b7b7b7;
}
label {
    color: #7070ef;
    font-size: 10px;
    font-weight: medium;
    text-align: center;
    padding-bottom: 10px;
}

footer {
    background-color: #ddbbbb;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-form-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: medium;
    text-align: center;
}
.footer-form-title > p {
    color: #5900ff;
    font-size: 16px;
    font-weight: medium;
    padding-top: 3px;
    text-align: center;
}
.footer-form-title > button {
    background-color: #ffff00;
    color: black;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 12px;
    font-weight: medium;
    margin-bottom: 10px;
}
dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: medium;
    font-size: 16px;
}
video {
    width: 100%;
    object-fit: cover;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    margin-top: -40px;
    margin-bottom: -40px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .navbar > ul {
        display: inline-block;
        gap: 24px;
        align-items: center;
    }
    .navbar > ul > li > a {
        font-size: 14px;
        font-weight: medium;
        color: #7070ef;
    }
    .navbar > ul > li > a:hover {
        color: #ffffff;
    }
    .navbar > ul > li > a:active {
        color: #ffff00;
    }
    .gallery > .gallery-grid {
        display: flex;
        flex-direction: column;
        grid-gap: 6px;
        padding: 24px;
    }
    .gallery > .gallery-grid > img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    .gallery > .gallery-grid > img:hover {
        opacity: 80%;
        cursor: pointer;
    }
    .contact-form-grid {
        display: flex;
        flex-direction: column;
        grid-gap: 6px;
        padding: 20px;
        width: 70%;
    }
    .contact-form-title{
        font-size: 30px;
        font-weight: medium;
        text-align: center;
    }
    .contact-form-paragraph {
        font-size: 16px;
        font-weight: medium;
        padding-top: 3px;
        color: #000000;
        width: 55%;
        text-align: center;
    }
    .contact-form-grid-item > input  {
        width: 100%;
        text-align: start;
        padding: 6px;
        border-radius: 4px;
        border: 1px solid;
        font-size: 12px;
        font-weight: medium;
        color: black
    }
    .contact-form-grid-item > textarea {
        width: 100%;
        text-align: start;
        padding: 6px;
        border-radius: 4px;
        border: 1px solid;
        font-size: 12px;
        font-weight: medium;
        color: black
    }
    .contact-form-grid-item > button {
        width: 50%;
        text-align: center;
        padding: 6px;
        border-radius: 4px;
        border: 1px solid;
        font-size: 12px;
        font-weight: medium;
        color: black;
        background-color: #7070ef;
    }
    .contact-form-grid-item > button:hover {
        background-color: #ffff00;
        cursor: pointer;
    }
    video {
        width: 100%;
        object-fit: cover;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;;
    }
}
